<div class="container-fluid body-table">
    <div> Số lượng sinh viên đăng kí {{dkhps.length }}/{{hocphans.lopHoc.siSo}}</div>
    <div class="head">
        <h1>DANH SÁCH SINH VIÊN ĐĂNG KÝ</h1>
    </div>
    <div class="table-students " style="overflow-y: scroll;height: 60vh;">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Mã sinh viên</th>
                    <th scope="col">Họ tên</th>

                </tr>
            </thead>
            <tbody>
                {{#each dkhps}}
                <tr>
                    <th scope="row">{{this.sinhVien.username}}</th>
                    <td>{{this.sinhVien.hoTen}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="inserthv" style="margin-top: 50px; text-align: center;">
        <a href="/dkhps/xemdkhp" class="btn btn-primary"
            style="border-top: 30px;,height: 100px; width: 200px; text-align: center; background-color: chocolate; border-color: chocolate;">Xem
            học phần đã đăng kí</a>
    </div>
</div>

{{!-- Model --}}

<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Xác nhận "Xóa"</h5>
            </div>

            <div class="modal-footer">
                <button type="button" id="btn-delete-sv" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
{{!-- Delete hidden form --}}
<form method="post" name="delete-form-sv">

</form>
<script>
    var svId;
    var deleteForm = document.forms["delete-form-sv"];
    // Khi đã load xong thì sẽ lắng nghe event bên trong
    document.addEventListener('DOMContentLoaded', function () {
        // Khi nhấn vào xóa
        $('#delete-modal').on('show.bs.modal', function (event) { // lấy id
            var button = $(event.relatedTarget)
            svId = button.data('id')

        });
        // Khi nhấn vào nút delete
        var btnDeleteSV = document.getElementById('btn-delete-sv') // lấy địa chỉ nút delete
        btnDeleteSV.onclick = function () { // bắt đầu lắng nghe sự kiện
            deleteForm.action = '/giaoviens/' + svId + '?_method=DELETE';
            deleteForm.submit(); // submit cho form
        }

    })

</script>