<div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel"
        style="background-color: rgb(0, 153, 255); width: 100%; border-radius: 20px;">
        <ol class="carousel-indicators ">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner tableroll">
            <div class="carousel-item active">
                <div class="carousel-caption d-none d-md-block carou">
                    <h4>Thông báo đăng kí học phần </h4>
                    <p></p><br>
                    <p> Mở đăng ký học phần học kỳ 2 năm 2025 từ ngày 17/5/2025 </p>
                    <button type="button" class="btn btn-outline-light">Đăng ký học phần ngay tại đây</button>
                </div>
                <img class="img-title" style="width: 500px; height: 300px;"
                    src="https://cdn.forumcomm.com/dims4/default/aa6899c/2147483647/strip/true/crop/4436x2957+160+0/resize/840x560!/format/webp/quality/90/?url=https%3A%2F%2Fforum-communications-production-web.s3.us-west-2.amazonaws.com%2Fbrightspot%2Fef%2F01%2Fdde07d5540038af08eea80820ea6%2Fannouncement-graphic-2.jpg"
                    alt="First slide">
            </div>
            <div class="carousel-item">
                <div class="carousel-caption d-none d-md-block carou">
                    <h4> Thông tin chính thức về học bổng học kỳ I - Năm học 2024 </h4>
                    <p></p><br>
                    <p>Đã có thông báo chính thức về thông tin học bổng học kỳ 1 năm 2024</p>
                    <button type="button" class="btn btn-outline-light">Kiểm tra ngay tại đây</button>
                </div>
                <img class="img-title" style="width: 500px; height: 300px;"
                    src="https://cdn.forumcomm.com/dims4/default/aa6899c/2147483647/strip/true/crop/4436x2957+160+0/resize/840x560!/format/webp/quality/90/?url=https%3A%2F%2Fforum-communications-production-web.s3.us-west-2.amazonaws.com%2Fbrightspot%2Fef%2F01%2Fdde07d5540038af08eea80820ea6%2Fannouncement-graphic-2.jpg"
                    alt="Second slide">
            </div>
            <div class="carousel-item">
                <div class="carousel-caption d-none d-md-block carou">
                    <h4>Thông báo chính thức nghỉ lễ 30/4 1/5</h4>
                    <p>Lịch nghỉ lễ 30/4 1/5 đã có, mời các bạn sinh viên kiểm tra lịch học</p>
                    <button type="button" class="btn btn-outline-light">Kiểm tra lịch học</button>
                </div>
                <img class="img-title" style="width: 500px; height: 300px;"
                    src="https://cdn.forumcomm.com/dims4/default/aa6899c/2147483647/strip/true/crop/4436x2957+160+0/resize/840x560!/format/webp/quality/90/?url=https%3A%2F%2Fforum-communications-production-web.s3.us-west-2.amazonaws.com%2Fbrightspot%2Fef%2F01%2Fdde07d5540038af08eea80820ea6%2Fannouncement-graphic-2.jpg"
                    alt="Third slide">
            </div>
            <div class="carousel-item">
                <div class="carousel-caption d-none d-md-block carou">
                    <h4>Các hoạt động ngoại khóa - Câu lạc bộ ở trường</h4>
                    <p> Thông tin các hoạt động ngoại khóa, câu lạc bộ ở trường luôn được cập nhật liên tục tại group
                        của trường </p>
                    <button type="button" class="btn btn-outline-light">Truy cập đến Facebook</button>
                </div>
                <img class="img-title " style="width: 500px; height: 300px;"
                    src="https://cdn.forumcomm.com/dims4/default/aa6899c/2147483647/strip/true/crop/4436x2957+160+0/resize/840x560!/format/webp/quality/90/?url=https%3A%2F%2Fforum-communications-production-web.s3.us-west-2.amazonaws.com%2Fbrightspot%2Fef%2F01%2Fdde07d5540038af08eea80820ea6%2Fannouncement-graphic-2.jpg"
                    alt="Fourth slide">
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev"
            style="width: 30px;">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next"
            style="width: 30px;">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div style="display: flex;flex-direction: column; font-size: 20px; margin-top: 20px;width: 65%;">
        <div style="font-size: 35px;border: 1px solid #f0f0f0; padding: 10px;">
            TIN TỨC
        </div>
        <div style="display: flex;border-top: 1px solid #f0f0f0;width: 100%;">
            <div style="display: flex;flex-direction: column;margin: 20px;">
                <div style="background-color: #f0f0f0;padding: 10px;width: 100px;">Tháng 1</div>
                <div style="font-size: 35px;">25</div>
            </div>
            <div style="color: rgb(0, 153, 255);">
                08 Thông báo v/v đăng ký học phần và đóng học phí học kỳ 2, năm học 2023 – 2024
            </div>
        </div>
        <div style="display: flex;border-top: 1px solid #f0f0f0;width: 100%;">
            <div style="display: flex;flex-direction: column;margin: 20px;">
                <div style="background-color: #f0f0f0;padding: 10px;width: 100px;">Tháng 1</div>
                <div style="font-size: 35px;">25</div>
            </div>
            <div style="color: rgb(0, 153, 255);">
                Giờ học và giờ thi tại Trường Đại học Công nghiệp Thành phố Hồ Chí Minh
            </div>
        </div>
        <div style="display: flex;border-top: 1px solid #f0f0f0;width: 100%;">
            <div style="display: flex;flex-direction: column;margin: 20px;">
                <div style="background-color: #f0f0f0;padding: 10px;width: 100px;">Tháng 2</div>
                <div style="font-size: 35px;">13</div>
            </div>
            <div style="color: rgb(0, 153, 255);">
                IUH đón nhận chứng nhận 04 chương trình đào tạo đạt chuẩn AUN-QA ,truyền thống nhân ngày Nhà
                giáo Việt Nam 20/11
            </div>
        </div>

    </div>
</div>
<script>
    function seeCourse(slug, _id, img) {

        $.ajax({
            url: '/users/' + slug + '/' + _id,
            type: 'GET',

        })
            .then((data) => {
                if (data.code === 500) {
                    alert('Coming Soon !!!')



                }
                else if (data.code === 501) {
                    alert('Khóa học không tồn tại')
                }
                else {
                    window.location.href = '/users/' + slug + '/' + _id
                }

            })
            .catch(error => {
                alert('Lỗi')
            })



    }

</script>