<div class="container-fluid mt-2" style="">

    <!-- Section: Design Block -->
    <section class="background-radial-gradient overflow-hidden ">


        <div class="container-fl px-2 py-3 text-lg-start my-2" style="margin-left: 150px;">
            <div class="form-row">





                <div class="col">
                    <label for="" class="form-label">MSSV</label>
                    <input type="text" class="form-control" id="username" name="username" style="width: 500px;">

                </div>
                <div class="col">
                    <label for="" class="form-label">Họ tên</label>
                    <input type="text" class="form-control" id="hoTen" name="hoTen" style="width: 500px;">

                </div>
                <div class="col">
                    <label for="" class="form-label">Tuổi</label>
                    <input type="text" class="form-control" id="tuoi" name="tuoi" style="width: 500px;">

                </div>
                <div class="col">
                    <label for="" class="form-label">Giới tính</label>
                    <input type="text" class="form-control" id="gioiTinh" name="gioiTinh" style="width: 500px;">

                </div>
                <div class="col">
                    <label for="" class="form-label">Nơi sinh</label>
                    <input type="text" class="form-control" id="noiSinh" name="noiSinh" style="width: 500px;">

                </div>
                <div class="col">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="password" style="width: 500px;">
                </div>
                <div class="col">
                    <label for="" class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" id="email" style="width: 500px;">
                </div>
                <div class="col">
                    <label for="" class="form-label">Địa chỉ</label>
                    <input type="text" class="form-control" id="diaChi" name="diaChi" style="width: 500px;">
                </div>
                <div class="col">
                    <label for="" class="form-label">Hình</label>
                    <input type="text" class="form-control" id="img" name="img" style="width: 500px;">
                </div>
                <div class="col">
                    <label for="lopHocId" class="form-label">Tên lớp học</label>
                    <select name="lop" id="lop" class="form-control" style="width: 500px;">
                        {{#each lophocs}}
                        <option value={{this._id}}>{{this.tenLopHoc}}</option>
                        {{/each}}
                    </select>
                </div>

                <!-- Submit button -->




            </div>
            <button type="submit" class="btn btn-primary btn-block  signup" style="margin-top: 40px;"
                onclick="signup()">
                Thêm
            </button>
        </div>
    </section>
</div>
<script>
    function signup() {
        var username = $('#username').val();
        var hoTen = $('#hoTen').val();
        var tuoi = $('#tuoi').val();
        var gioiTinh = $('#gioiTinh').val()
        var noiSinh = $('#noiSinh').val();
        var password = $('#password').val();
        var email = $('#email').val();
        var diaChi = $('#diaChi').val();
        var img = $('#img').val();
        var lop = $('#lop').val();
        if (username.trim() === '' || hoTen.trim() === '' || tuoi.trim() === '' || gioiTinh.trim() === '' || noiSinh.trim() === '' || password.trim() === '' || email.trim() === '' || diaChi.trim() === '' || img.trim() === '') {
            alert('Vui lòng nhập vào form');
            return;
        }
        $.ajax({
            url: '/account/signup/sign',
            type: 'POST',
            data: {
                username: username,
                tuoi: tuoi,
                gioiTinh: gioiTinh,
                noiSinh: noiSinh,
                password: password,
                email: email,
                diaChi: diaChi,
                img: img,
                hoTen: hoTen,
                lop: lop
            }
        })
            .then(data => {
                console.log(data)
                alert('Tạo thành công')
                window.location.href = '/hocviens'
            })
            .catch(error => {

                alert('MSSV bị trùng')

            })
    }






</script>