<div class="mt-4">
    <form method="post" action="/monhocs/themmonhoc/insert" class="container-fl px-2 py-3 text-lg-start my-2"
        style="margin-left: 100px;">
        <div class="form-row">
            <div class="col">
                <label for="id">Mã môn học</label>
                <input type="text" class="form-control" id="_id" name="_id" style="width: 500px;">
            </div>
            <div class="col">
                <label for="ho" class="form-label">Tên môn học</label>
                <input type="text" class="form-control" id="tenMonHoc" name="tenMonHoc" style="width: 500px;">
            </div>
            <div class="col">
                <label for="ho" class="form-label">Tín chỉ</label>
                <input type="text" class="form-control" id="tinChi" name="tinChi" style="width: 500px;">
            </div>
            <div class="col">
                <label for="ho" class="form-label">Tiết thực hành</label>
                <input type="text" class="form-control" id="tietLyThuyet" name="tietLyThuyet" style="width: 500px;">
            </div>
            <div class="col">
                <label for="ho" class="form-label">Tiết lý thuyết</label>
                <input type="text" class="form-control" id="tietThucHanh" name="tietThucHanh" style="width: 500px;">
            </div>
        </div>
        <div class="them" style="text-align: center;">
            <button type="submit" class="btn btn-outline-success" style="width: 200px; margin-top: 50px;">Thêm</button>
        </div>
    </form>



</div>