* {
  padding: 0px;
  margin: auto;
}

.app {
  height: 100vh;
  width: 100%;
}

/* header {
  height: 15vh;
  width: 100%;
  background-color: black;
} */
header {
  height: 100vh;
  width: 20%;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

header img {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  position: absolute;
  top: 10px;
}

header h1 {
  color: rgb(0, 0, 0);

}

header .menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.menu li {
  float: left;

  text-align: center;
  width: 250px;
}

.menu a {
  font-size: 20px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  line-height: 50px;
}

.menu li:hover {
  background-color: #f0f0f0;
  border-radius: 10px;
}




/* .content {
  height: 85vh;
  width: 100%;
} */


header .menusv {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.menusv li {
  float: left;

  text-align: center;
  width: 250px;
}

.menusv a {
  font-size: 20px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  line-height: 50px;
}

.menusv li:hover {
  background-color: #f0f0f0;
  border-radius: 10px;
}

.content {
  height: 100vh;
  width: 80%;
}


.card-course-item {
  margin-top: 16px;
  margin-left: 30px;
}

.card-name {
  margin-top: 10px;
}

.btn-primary {
  background-color: #3b65d8;
  width: 140px;
  height: 40px;
}

.body .card-body {
  height: 250px;
  width: 300px;
  text-align: center;
}

.body .card-body p {
  margin-top: 15px;
}

.body {
  margin-top: 20px;
  height: 100%;
}

.column {
  margin-top: 40px;
  margin-left: 10px;
  height: 250px;
  width: 400px;
}

.formnhap label {
  margin-left: 180px;
  margin-top: 20px;
}

.formnhap input {
  margin-top: 5px;
  margin-left: 180px;
}

.head {
  padding-top: 20px;
  text-align: center;
}


.form-write label {
  margin-left: 30px;
  margin-top: 50px;
}

.form-write input {
  margin-top: 5px;
  margin-left: 10px;
}

.tableroll {
  height: 300px;
  width: 1500px;
}

.tableroll .carou {
  width: 600px;
  height: 250px;
  margin-right: 650px;
}

.tableroll .carou h4 {
  float: left;
  margin-left: 20px;
  margin-top: 20px;
}

.tableroll .carou p {
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}

.tableroll .carou button {
  float: left;
  margin-left: 15px;
  margin-top: 5px;
  border-radius: 30px;
}

.tableroll .img-title {
  margin-left: 800px;
}

.course-free {
  width: 1400px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.course-free img {
  margin-top: 20px;
  border-radius: 30px;
  margin-left: 20px;
  width: 380px;
  height: 220px;
}

.course-free h5 {
  margin-top: 10px;
  margin-left: 10px;
  width: 400px;
  font-size: 20px;
}

.body-table .head .button-rac img {
  margin-left: 1400px;
  width: 100px;
  height: 80px;
}

.body-table .head .button-comback img {
  margin-right: 1600px;
  width: 50px;
  height: 40px;
}

.btn-deleteAll {
  border-top: 30px;
  height: 40px;
  width: 100px;
  text-align: center;
  background-color: chocolate;
  border-color: chocolate;
  margin-left: 10px;
}

.form-inline .form-control {
  margin-left: 500px;
  width: 500px;
}

.avatar {
  display: flex;
  margin-left: 30px;
}

.avatar .HoTen {
  margin-top: 2px;
  margin-left: 5px;
}

.avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 50px;
}

.menu-and-treatment {
  font-family: 'Roboto', sans-serif;
}

.menu-and-treatment .menus {
  margin-left: 1px;
  border-right: 1px solid #cecccc;
}

.menu-and-treatment .menus .menu-item {
  font-size: 17px;
  text-align: start;
  margin: 15px 0;
  cursor: pointer;
  transition: 0.5s;
}

.menu-and-treatment .menus .active {
  color: black;
}

.menu-and-treatment .menus .cut-across {
  padding: 5px 0;
  width: 300px;
  border-bottom: 1px solid #cecccc;
  margin-left: 1px;
}

.menu-and-treatment .treatment {
  background-color: aqua;
}

.changeava {
  display: flex;
  margin-left: 2px;
}

.changeava .form-ava {
  margin-top: 2px;
  margin-left: 5px;
}

.changeava .ava {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 50px;
}

.btns {
  display: flex;
  align-items: center;
}

.btns .btn-save {
  margin: 10px 0;
  border: 0;
  background-color: #ea4c89;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: 500;
  margin-right: 10px;
}

.btns .btn-del {
  margin: 10px 0;
  border: 0;
  background-color: #ededed;
  color: black;
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: 500;
  margin-right: 10px;
}