<div class="mt-4">
    <form method="post" action="/khoas/{{khoas._id}}?_method=PUT" class="container-fl px-2 py-3 text-lg-start my-2">
        <div class="form-row">

            <div class="col">
                <label for="ho" class="form-label">Tên khoa</label>
                <input type="text" class="form-control" id="tenKhoa" name="tenKhoa" value="{{khoas.tenKhoa}}"
                    style="width: 1000px;">
            </div>
        </div>
        <div class="them" style="text-align: center;">
            <button type="submit" class="btn btn-outline-success" style="width: 200px; margin-top: 50px;">Sửa</button>
        </div>
    </form>



</div>