<div class="container mt-5">
    <div class="avatar">
        <img src="{{users.img}}" alt="">
        <div class="HoTen">
            <h1>{{users.name}}</h1>
            <p>Update your username and manage your account</p>
        </div>
    </div>
    <div class="col-lg-12 menu-and-treatment" style="display: flex; sans-serif;">
        <div class="col-lg-4 menus" style="margin-top: 10px;">
            <div class='menu-item general active'><a class="dropdown-item" style="width: 300px; margin-left: 1px;"
                    href="/profiles/general">General</a></div>
            <div hidden class="edit"><a class="dropdown-item" style="width: 300px; margin-left: 1px;"
                    href="/profiles/editprofile">Edit Profile</a></div>
            <div class='menu-item general active'><a class="dropdown-item" style="width: 300px; margin-left: 1px;"
                    href="/profiles/editpassword">Password</a></div>
            <div class='cut-across'></div>
            <div class='menu-item' onclick="deleteUser()" style='color : red; margin-left: 20px;width: 300px;'>Delete
                Account</div>
        </div>
        <div class="col-lg-8 ">


            <div class="form-group" style="margin-top: 15px;">
                <label for="password">Old Password</label>
                <input type="password" class="form-control" id="oldPassword">
            </div>
            <div class="form-group">
                <label for="password">New Password</label>
                <input type="password" class="form-control" name="newPassword" id="newPassword">
            </div>
            <div class="form-group">
                <label for="password">Confirm New Password </label>
                <input type="password" class="form-control" id="rePassword" name="password">
            </div>

            <button type="submit" onclick="updatePass()" class="btn btn-primary" style="float: right;">Save
                Change</button>


        </div>
    </div>
</div>
<script>
    function updatePass() {
        var passWord = $('#newPassword').val();
        var oldPass = $('#oldPassword').val();
        var rePass = $('#rePassword').val();
        if (passWord.trim() === '' || oldPass.trim() === '' || rePass.trim() === '') {
            alert('Vui lòng nhập vào form để thay đổi PassWord')
            return;
        }
        else if (passWord != rePass) {
            alert('NewPassword và RePassWord không giống nhau')
            return;
        }
        $.ajax({
            url: '/profiles/editpassword/update/?_method=PUT',
            type: 'POST',
            data: {

                oldPassword: oldPass,
                newPassword: passWord
            }
        })
            .then(data => {
                if (data.code === 200) {
                    alert('Update Password thành công !!!')
                    window.location.reload()
                }
                else {
                    alert('Old Password sai !!!')
                }
            })
            .catch(error => {
                alert('Lỗi hệ thống')
                window.location.reload()
            })

    }

</script>
<script>
    function deleteUser() {
        $.ajax({
            url: '/profiles/delete-user/?_method=DELETE',
            type: 'POST'

        })
            .then(data => {
                if (data.code === 200) {
                    $.ajax({
                        url: '/check-token', // Đường dẫn tới endpoint kiểm tra cookie
                        type: 'GET',

                    })
                        .then(data => {
                            setCookie("token", data.token, 0)

                        })
                    alert('Xóa account thành công')
                    window.location.href = "/account/signin"
                    return;
                }
                else {
                    alert('Fail!')
                }


            })
            .catch(error => {
                console.log('Lỗi ròi')
            })
    }
    $.ajax({
        url: '/check-cookie', // Đường dẫn tới endpoint kiểm tra cookie
        type: 'GET',

    })
        .then(res => {
            if (res.code === 200) {


            }
        })
        .catch(error => {
            console.log('Lỗi hệ thống')
        })
</script>