<header class="lockHidden" hidden>
  {{!-- <a href="/">
    <img src="https://fullstack.edu.vn/static/media/f8-icon.18cd71cfcfa33566a22b.png" alt="">
  </a> --}}

  <h2 class="titleAdmin" hidden style="text-align: center;padding-top: 50px;padding-bottom: 50px;">Quản lý thông tin
  </h2>

  <ul class="menu" style="text-align: center;" hidden>
    <a href="/">
      <li>Trang chủ</li>
    </a>
    {{!-- <li><a href="/users">Giới thiệu khóa học</a></li> --}}
    <a href="/hocviens">
      <li>Sinh viên</li>
    </a>
    <a href="/giaoviens">
      <li>Giảng viên</li>
    </a>
    <a href="/lophocs">
      <li>Lớp học</li>
    </a>
    <a href="/chuyennganhs">
      <li>Chuyên ngành</li>
    </a>
    <a href="/khoas">
      <li>Khoa</li>
    </a>
    <a href="/monhocs">
      <li>Môn học</li>
    </a>
    <a href="/hocphans">
      <li>Học phần</li>
    </a>
    <a href="/hockys">
      <li>Học kỳ</li>
    </a>


    <li>
      <a class="nav-link dropdown-toggle name-user" href="#" id="navbarDropdown" role="button" style="padding-top: 0px;"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: rgb(255, 255, 255)">
        <a class="dropdown-item" href="/profiles/general">Profile</a>
        {{!-- <a class="dropdown-item" href="/editteachers">Giảng viên</a>
        <a class="dropdown-item" href="/editcourse">Sửa khóa học</a>
        <a class="dropdown-item" href="/myCourse/My-Course">Khóa học của tui</a> --}}
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/account" onclick="deleteCookie()">Đăng xuất</a>
      </div>
    </li>
  </ul>
  <ul class="menusv" style="text-align: center;" hidden>
    <a href="/">
      <li>Trang chủ</li>
    </a>
    {{!-- <li><a href="/users">Giới thiệu khóa học</a></li> --}}
    <a href="/profiles/thongtinsinhvien">
      <li>Thông tin sinh viên</li>
    </a>
    <a href="/dkhps">
      <li>Đăng kí học phần</li>
    </a>
    <a href="/profiles/lichHoc">
      <li>Lịch học</li>
    </a>



    <li>
      <a class="nav-link dropdown-toggle name-user" href="#" id="navbarDropdown" role="button" style="padding-top: 0px;"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: rgb(255, 255, 255)">
        <a class="dropdown-item" href="/profiles/general">Profile</a>
        {{!-- <a class="dropdown-item" href="/editteachers">Giảng viên</a>
        <a class="dropdown-item" href="/editcourse">Sửa khóa học</a>
        <a class="dropdown-item" href="/myCourse/My-Course">Khóa học của tui</a> --}}
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/account" onclick="deleteCookie()">Đăng xuất</a>
      </div>
    </li>
  </ul>


</header>
<script>

  function setCookie(cname, cvalue, exdays) {
    const d = new Date();
    d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
    let expires = "expires=" + d.toUTCString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
  }
  function deleteCookie() {
    $.ajax({
      url: '/check-token', // Đường dẫn tới endpoint kiểm tra cookie
      type: 'GET',

    })
      .then(data => {
        setCookie("token", data.token, 0)

      })
  };
  $.ajax({
    url: '/check-cookie', // Đường dẫn tới endpoint kiểm tra cookie
    type: 'GET',

  })
    .then(res => {
      if (res.code === 200) {
        if (res.currentUser._doc.role === false) {
          $('header.lockHidden').removeAttr('hidden');
          const docIMG = res.currentUser._doc.img
          $('header.lockHidden').removeAttr('hidden');
          $('ul.menu').removeAttr('hidden');
          $('h2.titleAdmin').removeAttr('hidden');
          $('img.avartar-user').removeAttr('hidden')


          if (!docIMG) {
            $('img.avartar-user').attr('src', "https://res.cloudinary.com/dk41ftplg/image/upload/v1688965244/Teach-Node/wkz0upebb9k3danolvbc.png")

          }
          else {
            $('img.avartar-user').attr('src', res.currentUser._doc.img)


          }
        } else {
          const docIMG = res.currentUser._doc.img
          $('header.lockHidden').removeAttr('hidden');
          $('ul.menusv').removeAttr('hidden');
          $('img.avartar-user').removeAttr('hidden')
          $('a.name-user').text(res.currentUser._doc.name)

          if (!docIMG) {
            $('img.avartar-user').attr('src', "https://res.cloudinary.com/dk41ftplg/image/upload/v1688965244/Teach-Node/wkz0upebb9k3danolvbc.png")

          }
          else {
            $('img.avartar-user').attr('src', res.currentUser._doc.img)


          }
        }

      }
    })
    .catch(error => {
      console.log('Lỗi hệ thống')
    })
  function getCookie(cname) {
    let name = cname + "=";
    let decodedCookie = decodeURIComponent(document.cookie);
    let ca = decodedCookie.split(';');
    for (let i = 0; i < ca.length; i++) {
      let c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

</script>